footer {
    
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 2px solid orange;
    line-height: .6;
}

.m-top {
    margin-top: 0.6rem;
}
a{
    color: #010203
}
@media screen and (max-width: 360px) {
   
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    h1{
        display: none;
    }
    h2{
        display: none;
    }
}

